/* HomePage.css */

.home-page {
  background-image: url('../../assets/backGround.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

.cta-button {
  font-size: 16px;
  background-color: #28a745;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* ✅ Media query pour grands écrans */
@media (min-width: 768px) {
  .main-content h1 {
    font-size: 36px;
  }

  .main-content ul {
    font-size: 18px;
  }

  .cta-button {
    font-size: 18px;
    padding: 14px 28px;
  }
}
